[submodule "DogeCV"]
	path = DogeCV
	url = https://github.com/GTHSRobotics/DogeCV
[submodule "Library"]
	path = Library
	url = https://github.com/KadenGordon/Library
[submodule "RelicRecoveryCV"]
	path = RelicRecoveryCV
	url = git@github.com:BeehiveRobotics/RelicRecoveryCV.git
